/* =========================
   FONT
========================= */
@font-face {
    font-family: "Tattegrain3";
    src: url("Tattegrain3.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-main: sans-serif;

    --color-menu-overlay: white;
    --color-menu-text: #000;
    --color-divider: #000000;
}



.b.font-loaded {
    font-family: 'Tattegrain', Arial, sans-serif;
}
.b{ 
  font-family: "Tattegrain3";
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
cursor: crosshair;
}

body {
font-family: sans-serif;
overflow-x: hidden;
}

a {
text-decoration: none;
color: black;
}

.navbar {
position: absolute;
top: 20px;
right: 20px;
display: flex;
gap: 1vw;
font-size: 0.8em;
}

.scrolling-text {
position: absolute;
top: 120px;
left: 20px;
width: 220px;
}

.scrolling-text li {
font-size: 0.8rem;
line-height: 1.2rem;
position: relative;
ext-decoration: none;
}

.scrolling-text .year {
font-style: italic;
color: gray;
position: absolute;
right: -120px;
}

.scrolling-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.scrolling-text li {
  list-style: none;
}


/* Sélection des titres de projets dans la liste */
.scrolling-text ul li {
  color: black; /* couleur par défaut */
  cursor: pointer;
  transition: color 0.3s; /* effet de transition douce */
}

/* Au hover */
.scrolling-text ul li:hover {
  color: #666666; /* gris foncé */
}


.project-desc {
position: absolute;
top: 120px;
left: 460px;
width: 360px;
font-size: 0.8rem;
line-height: 1.5;
}

.project-media {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 45vw;
  display: flex;
  justify-content: flex-end;
}



.image-scroller {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
width: 100%;
overflow-x: auto;
white-space: nowrap;
}

.image-track {
display: flex;
gap: 20px;
padding-left: 20px;
}

.image-item img {
height: 220px;
object-fit: cover;
}
















/* MOBILE = ancien comportement */
@media (max-width: 1023px) {

.project-desc,
.project-media {
display: none;
}

.contact-panel {
  position: fixed;
  top: 120px;       /* ajuste selon ta navbar */
  right: 40px;      /* ferré à droite */
  width: 460px;     /* largeur du bloc */
  max-width: 90vw;


}


}


.project-media img,
.project-media video {
  max-width: 60%;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}


.image-scroller {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE / Edge */
}

.image-scroller::-webkit-scrollbar {
    display: none;                /* Chrome / Safari */
}

.image-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.image-caption {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: black;
}

.image-caption .year {
    font-style: italic;
    color: gray;
}

#mouseTrailCanvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.contact-panel {
  position: fixed;
  top: 120px;       /* ajuste selon ta navbar */
  right: 20px;      /* ferré à droite */
  width: 460px;     /* largeur du bloc */
  max-width: 90vw;
  color: black;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  display: none;    /* caché par défaut */
  z-index: 1000;
  font-size: 0.8em;
  background-color: white ;
}


