

.mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1000px;
    margin: auto;
}

.mosaic-item {
    overflow: hidden;
    position: relative;
}

.mosaic-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.mosaic-item:hover img {
    transform: scale(1.1);
}
