*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}



/* GÉNÉRAL - BODY, LIENS, TITRES, PARAGRAPHES, SECTIONS */

body{
  font-family: 'Helvetica';
  font-size: 1.1em;
  background: black;
  padding: 0;
  margin: 0;
  color: white;
  cursor: crosshair;
}

h1{
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  line-height: 1.0em;
}

h2, h3{
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}

h4{
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  margin-top: 3px;
  line-height: 1.2em;
}

p{
  margin: 0;
}

a{
  color: white;
  text-decoration: none;
  display: block;
  transition: transform 0.25s, margin 0.25s;
}

a:hover{
  transform: skewX(-20deg);
}

section{
  padding: 25px;
  margin-left: -25px;
  height: 100%;
  position: relative;
}
body section:first-child{
  margin-left: 0;
}
section > .container{
  height: 100%;
}





/* CONTENEUR COMMUN*/

.container{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0px;
  border: 1px solid white;
  padding: 20px;
  overflow: hidden;
  overflow-x: scroll;
}






/* MENU */
.menu{
  position: fixed;
  width: 100%;
  height: 50%;
  right: 0;
  top: 0px;
  padding: 25px;
  z-index: 10;
  pointer-events: none;
}
.menu > *{
  pointer-events: auto;
}
.menu .container{
  padding: 15px;
  margin-top: 0px;
  background: black;
}

.button{
  height: 60px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: width 0.5s, transform 0.5s;
}
.button span{
  transition: transform 0.25s;
}
.button:hover span{
  transform: skewX(-20deg);
}

.button img{
  width: 40px;
  height: auto;
  transition: transform 0.25s;
}
.menu--open .menu .menu--button img{
  transform: rotateZ(45deg); /*retourner la croix*/
}
.menu--nav{ /*mettre les titres au milieu*/
  position: relative;
  height: calc(100% - 247px);
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  text-align: center;
  pointer-events: none;
}
.nav--item{
  transform: translate3d(calc(100% + 25px), 0, 0);
  transition: all 0.5s;
  cursor: pointer;
}
.nav--item span{
  transition: transform 0.25s;
  top: calc(50% - 0.5em);
  position: relative;
  display: block;
  width: 100%;
}
.nav--item:hover span{
  transform: skewX(-20deg);
}

.nav--item.selected{
  background: white;
  color: black;
}
.menu--open .menu .menu--nav .nav--item{
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}






/* MAIN */

.scroll--wrapper{
  position: fixed;
  width: 100vw;
  height: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: transform 0.5s, opacity 0.5s;
  top: 10vh;
}
.wrapper{
  position: relative;
  width: auto;
  height: 100%;
  display: inline-flex;
}

.projetcontainer{
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
}






/* HOME */
.home{
  width: 100vw;
}

.home--container{
  height: 100%;
}

.logo{
  width: 70vh;
  height: 70vh;
  display: block;
  mix-blend-mode: screen;
  z-index: 100;
  pointer-events: none;
  transition: filter 2s, opacity 2s;
}








/* FICHES PROJETS */
.projets{
  height: 100%;
  width: auto;
  display: flex;
  overflow-x: scroll;
}

.ficheprojet{
  width: 20vw;
  height: 100%;
  position: relative;
  margin: 0 0 0 25px;
  display: flex;
  flex-flow: wrap;
}

.ficheprojet:first-child{
  margin: 0;
}
.ficheprojet:hover{
  transform: none;
}
.ficheprojet h2,
.ficheprojet h3{
  transition: transform 0.25s;
}
.ficheprojet:hover h2,
.ficheprojet:hover h3{
  transform: skewX(-20deg);
}

.ficheprojet:hover .projetinfo{
  background: white;
  color: black;
}

.projetinfo{
  transition: all 0.25s;
  height: 15%;
}

.projetdomaine{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.projetimage{
  padding: 0 !important;
  margin-top:px;
  height: 85%;
  display: flex;
  overflow-x: scroll;

}

.projetimage img,
.projetimage video{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.project{
  position: fixed;
  width: 100vw;
  height: 100%;
  margin-left: 0;
  transform: translate(0, 100%);
  transition: transform 0.5s, opacity 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0;
  pointer-events: none;
}

.project--wrapper{
  position: relative;
  height: 100%;
  width: auto;
  display: inline-flex;
  padding-right: 25px;
}








/* CONTENU PROJET */
.projetcontenu{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: wrap;
}
.projetcontenu:hover{
  transform: none;
}

.projetcontenu:hover .projetinfo{
  background: white;
  color: black;
}

#projetexte{
  width: 50vw;
  padding: 30px;
  border: 1px solid white;
  overflow-y: scroll;
}

#photocontenu{
  width: 100%;
  padding:30px;
  display: flex;
  overflow-x: scroll;
  border: 1px solid white;

}

#photocontenu img{
  margin-right: 10px;
}
.projetinfo{
  transition: all 0.25s;
  height: 15%;
}




/* GALERIE */ 
.photogalerie{
  width: 100%;
  overflow-y: scroll;
}

.galerieligne{
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.galeriecadre{
  width: 20vw;
  height: 20vw;
}





/*ABOUT */
.about{
  position: fixed;
  /*width: calc(100vw - 325px);*/
  width: 100%;
  height: 80%;
  margin-left: 0;
  transform: translate(0, 100%);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  top: 10vh;
}
.about .container{
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about--open .about{
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}
.about--desc{
  margin-bottom: 50px;
}





/* ACCUEIL - SUPERPOSITION D'IMAGES - BLOCS D'IMAGES */

.welcometxt{
  position: absolute;
  width: 30vw;
  margin-left: 38vw;
  margin-top: 30vh;
  z-index: 5;
}
.instruction{
  font-size: 1em;
}

.gallery{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  transform-style: preserve-3d;
  perspective: 2000px;

}

.block{
  position: absolute;
  width: 200px;
  height: 100px;
  background: #c0c0c0;
  transform-style: preserve-3d;
  transform: translateZ(1750px);
}

.block-1{
  top: 30%;
  left: 70%;
  background-image: url("import/post1.p")
  background-size: cover;
}

.block-2{
  top: 20%;
  left: 25%;
  background-size: cover;
}


.block-3{
  top: 10%;
  left: 10%;
  background-size: cover;
}

.block-4{
  top: 80%;
  left:10%;
  background-size: cover;
}

.block-5{
  top: 10%;
  right:20%;
  background-size: cover;
}

.block-6{
  top: 50%;
  left:20%;
  background-size: cover;
}

.block-7{
  top: 20%;
  left:50%;
  background-size: cover;
}

.block-8{
  top: 10%;
  left: 10%;
  background-size: cover;
}

.block-9{
  top: 20%;
  left: 40%;
  background-size: cover;
}


.block-10{
  top: 40%;
  left: 60%;
  background-size: cover;
}

.block-11{
  top: 60%;
  left: 25%;
  background-size: cover;
}

.block-12{
  top: 30%;
  left:50%;
  background-size: cover;
}

.block-13{
  top: 20%;
  left:25%;
  background-size: cover;
}

.block-14{
  top: 25%;
  left:25%;
  background-size: cover;
}

.block-15{
  top: 50%;
  left:10%;
  background-size: cover;
}

.block-16{
  top: 60%;
  left:40%;
  background-size: cover;
}

.block-17{
  top: 30%;
  left:30%;
  background-size: cover;
}

.block-18{
  top: 20%;
  left:50%;
  background-size: cover;
}





